.login-button {
    width: 350px;
    background-color: var(--gray);
    color: white;
}

.login-button:hover {
    color: var(--accent-color);
}

.login-card { 
    width: 600px
}

.login-form {
    /* display: inline; */
    width: 350px;
}

.login {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.login-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-label {
    font-size: 3em;
}

.login input {
    outline: none;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    .login-card { 
        width: 550px
    }
}

@media screen and (max-width: 576px) {
    .login-card { 
        width: 300px
    }

    .login-form {
        width: 260px;
    }
    

    .login-button {
        width: 260px;
    }

    .login-label {
        font-size: 2em;
    }
}